*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
  color: #fff;
  user-select: none;
}

button{
  cursor: pointer;
  border: 0;
  background: transparent;
}

a{
  text-decoration: none;
}

body{
  background-color: #000201;
}